---
import { Image } from "@astrojs/image/components";

import ModelSingle from "@layouts/ModelSingle.astro";
import Base from "@layouts/Base.astro";
import { getSingleModel } from "@lib/contentParser.astro";
import { humanize,slugify } from "@lib/utils/textConverter";
import { BiCategoryAlt } from "react-icons/bi/index.js";

export async function getStaticPaths() {
  const women = await getSingleModel("women");

  const paths = women.map((woman) => ({
    params: {
      single: woman.slug,
    },
    props: { woman },
  }));
  return paths;
}

const { woman } = Astro.props;
const { name, meta_title, image } = woman.data;

---

<Base
  name={name}
  meta_title={meta_title}
  image={image}
>
  <ModelSingle woman={woman} />
            <h3 class="h5">
              <a href={`/${woman.slug}`} class="block hover:text-primary transition duration-300">
                {woman.data.name}
              </a>
            </h3>
          </div>
          ))}
        </div>
      </div>
    </section>
  )}
</Base>
