---
import { Image } from "@astrojs/image/components";
import Man from "@layouts/Man.astro";
import Base from "@layouts/Base.astro";
import { getSingleMan } from "@lib/contentParser.astro";
import { humanize,slugify } from "@lib/utils/textConverter";
import { BiCategoryAlt } from "react-icons/bi/index.js";

export async function getStaticPaths() {
  const men = await getSingleMan("men");
  const paths = men.map((man) => ({
    params: {
      single: man.slug,
    },
    props: { man },
  }));
  return paths;
}

const { man } = Astro.props;
const { name, image } = man.data;

---

<Base
  name={name}
  image={image}
>
  <Man man={man} />
            <h3 class="h5">
              <a href={`/${man.slug}`} class="block hover:text-primary transition duration-300">
                {man.data.name}
              </a>
            </h3>
          </div>
          ))}
        </div>
      </div>
    </section>
  )}
</Base>
