---
import { Image } from "@astrojs/image/components";
import Nonbinary from "@layouts/Nonbinary.astro";
import Base from "@layouts/Base.astro";
import { getSingleNonbinary } from "@lib/contentParser.astro";
import { humanize,slugify } from "@lib/utils/textConverter";
import { BiCategoryAlt } from "react-icons/bi/index.js";

export async function getStaticPaths() {
  const women = await getSingleNonbinary("nonbinary");
  const paths = nonbinaries.map((nonbinary) => ({
    params: {
      single: nonbinary.slug,
    },
    props: { nonbinary },
  }));
  return paths;
}

const { nonbinary } = Astro.props;
const { name, meta_title, image } = nonbinary.data;

---

<Base
  name={name}
  meta_title={meta_title}
  image={image}
>
  <Nonbinary nonbinary={nonbinary} />
            <h3 class="h5">
              <a href={`/${nonbinary.slug}`} class="block hover:text-primary transition duration-300">
                {nonbinary.data.name}
              </a>
            </h3>
          </div>
          ))}
        </div>
      </div>
    </section>
  )}
</Base>
