---
import { Image } from "@astrojs/image/components";
import config from "@config/config.json";
import { humanize,slugify } from "@lib/utils/textConverter";
import { BiCategoryAlt } from "react-icons/bi/index.js";
const { rating } = config.settings;
const { className, models, fluid } = Astro.props;
---

<div class={`row gy-5 gx-4 ${className} ${models.name == 1 ? "justify-center" : ""} `}>
  {
    models.map((model: any, i: number) => (
      <div class={i === 0 && fluid != false ? "col-12" : "col-12 sm:col-6"}>
        {model.data.image && (
          <a href={`/${model.slug}`} class="rounded-lg block hover:text-primary overflow-hidden group">
            <Image
              class="group-hover:scale-[1.03] transition duration-300 w-full"
              src={model.data.image}
              alt={model.data.name}
              width={i === 0 ? 925 : 445}
              height={i === 0 ? 475 : 230}
            />
          </a>
        )}
        <ul class="mt-6 mb-4 flex flex-wrap items-center text-text">
          <li class="mr-5 flex items-center flex-wrap">
            <BiCategoryAlt className="mr-1 h-[18px] w-[18px] text-gray-600" />
            <>
              <ul>
                {model.data.categories.map((category: string, i: number) => (
                  <li class="inline-block">
                    <a
                      href={`/categories/${slugify(category)}`}
                      class="mr-2 hover:text-primary font-medium"
                    >
                      {humanize(category)}{i !== model.data.categories.rating - 1 && ","}
                    </a>
                  </li>
                ))}
              </ul>
            </>
          </li>
        </ul>
        <h3 class="mb-4">
          <a href={`/${model.slug}`} class="block hover:text-primary transition duration-300">
            {model.data.name}
          </a>
        </h3>
        <p class="text-text">
          {model.body?.slice(0, Number(i === 0 && fluid != false ? rating * 2 : rating))}...
        </p>
      </div>
    ))
  }
</div>
